.version.index /* version checker */
{
	color: #000008;
	background-color: #B45F74;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	min-height: 500px;
	background-color: transparent;
	border-width: 0px;
	border-color: #000000;
	z-index: 1;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-image: none;
}

#u779_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#menuu130
{
	left: 0px;
	z-index: 4;
	position: relative;
	margin-right: -10000px;
}

#u137-4,#u903-4,#u928-4
{
	top: 9px;
	width: 100%;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
}

#u134:hover #u137-4,#u134:active #u137-4,#u134.MuseMenuActive #u137-4,#u902:hover #u903-4,#u902:active #u903-4,#u902.MuseMenuActive #u903-4,#u925:hover #u928-4,#u925:active #u928-4,#u925.MuseMenuActive #u928-4
{
	width: 100%;
	min-height: 17px;
	padding-bottom: 0px;
	padding-top: 0px;
	margin: 0px -10000px 0px 0%;
}

#u131,#u901,#u922,#u943
{
	min-height: 35px;
	position: relative;
	margin-right: -10000px;
}

#u134,#u902,#u925,#u946
{
	width: 100%;
	position: relative;
	padding-bottom: 18px;
}

#u948-4
{
	top: 9px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
}

#u946:hover #u948-4,#u946:active #u948-4,#u946.MuseMenuActive #u948-4
{
	min-height: 17px;
	padding-bottom: 0px;
	padding-top: 0px;
	margin: 0px -10000px 0px 0%;
}

#u949
{
	top: 10px;
	z-index: 29;
	position: relative;
	margin-right: -10000px;
	height: 14px;
}

#u946:hover #u949,#u946:active #u949,#u946.MuseMenuActive #u949
{
	min-height: 0px;
	height: 14px;
	margin: 0px -10000px 0px 0%;
}

#u944
{
	top: 35px;
}

#u134:hover,#u134:active,#u134.MuseMenuActive,#u902:hover,#u902:active,#u902.MuseMenuActive,#u925:hover,#u925:active,#u925.MuseMenuActive,#u946:hover,#u946:active,#u946.MuseMenuActive,#u945:hover,#u945:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u945,#u1153
{
	position: relative;
	width: 100%;
}

#u1155
{
	position: relative;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u1155:hover,#u1155:active,#u1155.MuseMenuActive
{
	min-height: 0px;
	margin: 0px -10000px 0px 0%;
}

#u1159-4
{
	padding-top: 4px;
	min-height: 13px;
	position: relative;
	margin-right: -10000px;
}

#u1155:hover #u1159-4,#u1155:active #u1159-4,#u1155.MuseMenuActive #u1159-4
{
	min-height: 13px;
	padding-bottom: 0px;
	padding-top: 4px;
	margin: 0px -10000px 0px 0%;
}

#u1159-3
{
	margin-left: 2px;
	margin-right: 2px;
}

#u779,#u779-bw
{
	z-index: 3;
	min-height: 35px;
}

#u262,#u262-bw
{
	z-index: 2;
	height: 33px;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

.verticalspacer
{
	min-height: 432px;
}

@media (min-width: 851px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		max-width: 1200px;
	}

	#menuu130
	{
		width: 47.25%;
		margin-left: 52.76%;
	}

	#u131
	{
		width: 24.7%;
	}

	#u901
	{
		width: 24.7%;
		left: 25.05%;
	}

	#u922
	{
		width: 24.7%;
		left: 50.09%;
	}

	#u943
	{
		width: 24.87%;
		left: 75.14%;
	}

	#u948-4
	{
		width: 90.08%;
	}

	#u946:hover #u948-4
	{
		width: 90.08%;
	}

	#u946:active #u948-4
	{
		width: 90.08%;
	}

	#u946.MuseMenuActive #u948-4
	{
		width: 90.08%;
	}

	#u949
	{
		width: 9.93%;
		left: 90.08%;
	}

	#u946:hover #u949
	{
		width: 9.93%;
	}

	#u946:active #u949
	{
		width: 9.93%;
	}

	#u946.MuseMenuActive #u949
	{
		width: 9.93%;
	}

	#u944
	{
		width: 85.11%;
	}

	#u1153
	{
		padding-bottom: 1px;
	}

	#u1155
	{
		width: 99.17%;
	}

	#u1155:hover
	{
		width: 99.17%;
	}

	#u1155:active
	{
		width: 99.17%;
	}

	#u1155.MuseMenuActive
	{
		width: 99.17%;
	}

	#u1159-4
	{
		top: 3px;
		width: 95.8%;
		left: 2.53%;
	}

	#u1155:hover #u1159-4
	{
		width: 95.8%;
	}

	#u1155:active #u1159-4
	{
		width: 95.8%;
	}

	#u1155.MuseMenuActive #u1159-4
	{
		width: 95.8%;
	}
}

@media (max-width: 850px)
{
	#muse_css_mq
	{
		background-color: #000352;
	}

	#bp_850.active
	{
		display: block;
	}

	#page
	{
		max-width: 850px;
	}

	#menuu130
	{
		width: 47.3%;
		margin-left: 52.71%;
	}

	#u131
	{
		width: 24.38%;
	}

	#u901
	{
		width: 24.63%;
		left: 24.88%;
	}

	#u922
	{
		width: 24.63%;
		left: 50%;
	}

	#u943
	{
		width: 24.63%;
		left: 75.13%;
	}

	#u948-4
	{
		width: 85.86%;
	}

	#u946:hover #u948-4
	{
		width: 85.86%;
	}

	#u946:active #u948-4
	{
		width: 85.86%;
	}

	#u946.MuseMenuActive #u948-4
	{
		width: 85.86%;
	}

	#u949
	{
		width: 14.15%;
		left: 85.86%;
	}

	#u946:hover #u949
	{
		width: 14.15%;
	}

	#u946:active #u949
	{
		width: 14.15%;
	}

	#u946.MuseMenuActive #u949
	{
		width: 14.15%;
	}

	#u944
	{
		width: 121.22%;
	}

	#u1155
	{
		width: 100%;
	}

	#u1155:hover
	{
		width: 100%;
	}

	#u1155:active
	{
		width: 100%;
	}

	#u1155.MuseMenuActive
	{
		width: 100%;
	}

	#u1159-4
	{
		top: 2px;
		width: 96.67%;
		left: 1.67%;
	}

	#u1155:hover #u1159-4
	{
		width: 96.67%;
	}

	#u1155:active #u1159-4
	{
		width: 96.67%;
	}

	#u1155.MuseMenuActive #u1159-4
	{
		width: 96.67%;
	}

	body
	{
		min-width: 320px;
	}
}

