	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		max-width: 1200px;
	}

	#menuu130
	{
		width: 47.25%;
		margin-left: 52.76%;
	}

	#u131
	{
		width: 24.7%;
	}

	#u901
	{
		width: 24.7%;
		left: 25.05%;
	}

	#u922
	{
		width: 24.7%;
		left: 50.09%;
	}

	#u943
	{
		width: 24.87%;
		left: 75.14%;
	}

	#u948-4
	{
		width: 90.08%;
	}

	#u946:hover #u948-4
	{
		width: 90.08%;
	}

	#u946:active #u948-4
	{
		width: 90.08%;
	}

	#u946.MuseMenuActive #u948-4
	{
		width: 90.08%;
	}

	#u949
	{
		width: 9.93%;
		left: 90.08%;
	}

	#u946:hover #u949
	{
		width: 9.93%;
	}

	#u946:active #u949
	{
		width: 9.93%;
	}

	#u946.MuseMenuActive #u949
	{
		width: 9.93%;
	}

	#u944
	{
		width: 85.11%;
	}

	#u1153
	{
		padding-bottom: 1px;
	}

	#u1155
	{
		width: 99.17%;
	}

	#u1155:hover
	{
		width: 99.17%;
	}

	#u1155:active
	{
		width: 99.17%;
	}

	#u1155.MuseMenuActive
	{
		width: 99.17%;
	}

	#u1159-4
	{
		top: 3px;
		width: 95.8%;
		left: 2.53%;
	}

	#u1155:hover #u1159-4
	{
		width: 95.8%;
	}

	#u1155:active #u1159-4
	{
		width: 95.8%;
	}

	#u1155.MuseMenuActive #u1159-4
	{
		width: 95.8%;
	}

